apiVersion: v1alpha
kind: espresso
sauce:
  region: us-west-1
  retries: 3
  # Controls how many suites are executed at the same time (sauce test env only).
  concurrency: 10
  metadata:
    tags:
      - e2e
      - release team
      - other tag
    build: Release
espresso:
  app: ./apps/mda-1.0.10-12.apk
  testApp: ./apps/mda-androidTest-1.0.10-12.apk
suites:
  - name: "Test Demo App"
    passThreshold: 2
    emulators:
      - name: "${EMULATOR}"
        platformVersions:
          - "${ANDROID_VERSION}"
artifacts:
  download:
    when: always
    match:
      - junit.xml
    directory: ./artifacts/

reporters:
  spotlight: # Prints an overview of failed or otherwise interesting jobs.
    enabled: true
